# Node & Workspaces
node_modules
dist

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS metadata
.DS_Store
Thumbs.db

# Workspace build artifacts
packages/*/dist
.github
